__pycache__/CVGenerator.cpython-313.pyc
*.aux
*.log
*.out
*.fls
*.fdb*
*.gz
.DS_STORE
roles_CVs/Primary_Roles/Security/.DS_Store
roles_CVs/Primary_Roles/Security/.DS_Store
roles_CVs/Primary_Roles/Security/.DS_Store
*.pdf
