__pycache__/CVGenerator.cpython-313.pyc
*.aux
*.log
*.out
*.fls
*.fdb*
*.gz
.DS_STORE
roles_CVs/Primary_Roles/Security/.DS_Store
*.pdf
roles_CVs/Secondary_Roles/Developer/.DS_Store
roles_CVs/Secondary_Roles/Manager/.DS_Store